*{
    background-color: rgb(88, 92, 92);
    margin: 0;
    padding: 0;
}

.mainHeader{
    color: rgb(192, 192, 192);
    display: flex;
    align-items: start;
    justify-content: start;
    font-size: 3rem;
    padding: 2% 2%;
}
.headerDesc{
    color: rgb(192, 192, 192);
}
.grid-holder{
    display: grid;
    grid-template-columns: 30% 60%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10% 10%;
    grid-auto-flow: row;
    grid-template-areas:
        ". ."
        ". ."
        ". .";
    padding: 2%;
}
.img-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
